{
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "script",
    "ecmaFeatures": {
      "impliedStrict": true
    }
  },
  "env": {
    "node": true
  },
  "extends": [
    "@fiverr/eslint-config-fiverr/rules/base",
    "@fiverr/eslint-config-fiverr/rules/es6"
  ],
  "plugins": [],
  "rules": {
    "no-console": 0
  },
  "overrides": [
    {
      "files": [ "tests/*" ],
      "env": {
        "mocha": true
      },
      "globals": {
        "global": true,
        "expect": true,
        "assert": true
      }
    }
  ]
}
