# dependencies
node_modules

# Optional npm cache directory
.npm
npm-debug.log

# IDEs and editors
.idea/*
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
*.sublime-project

# IDE - VSCode
.vscode/*
.vscode/launch.json